@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  input, textarea {
    @apply outline-none p-2 bg-transparent
  }
}


@layer components {
  .transitions {
    @apply duration-200 ease-out
  }

  .navbar__li {
    @apply duration-200 ease-in hover:bg-gray-50 cursor-pointer
  }

  .action-button {
    @apply hover:bg-gray-100 duration-200 ease-in
  }

  .more {
    @apply text-lg font-semibold px-4 py-2 rounded-md border border-gray-200 transitions hover:border-transparent hover:bg-orange-400
  }

  .current__creator__button {
    @apply bg-black text-white
  }

  .offscreen {
    @apply absolute right-[20000px]
  }

  .form_input {
    @apply transitions p-2 border border-transparent bg-gray-200 rounded-md w-full hover:border-green-500 hover:bg-white focus:border-green-500 focus:bg-white
  }

  .edit_input {
    @apply rounded-md border border-gray-400 hover:outline-gray-400 focus:outline-gray-400 transitions p-3
  }

  .edit_label {
    @apply flex flex-col gap-2 font-semibold text-gray-500
  } 

  .act-button {
    @apply active:text-2xl transitions
  }

  .footer-link {
    @apply text-xl tracking-tighter font-semibold transitions hover:text-gray-400 cursor-pointer
  }
}
